<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Account Creation Page</title>
</head>
<body>
	<h2>Account Creation Page</h2>
	<form name="form" th:action="@{/createAccount}" method="POST">
		<fieldset>
			<br /> Username: <input type="text" name="username"/> <br />
			Password:<input type="password" name="password"/> <br />
			First Name: <input type="text" name="firstName"/> <br /> Last
			Name: <input type="text" name="lastName"/> <br />
		</fieldset>
		<input type="submit" value="Submit"/>
	</form>
</body>
</html>